.container {
    width: 500px;
    margin: 0 auto;
  }
  
  
 body{ background-color: black;}
  p {
    text-align: right;
    font-size: 30px; 
    color: rgb(219, 161, 106); 
    margin: 0%; 
  
  }
  button {
    width: 500px;
    height: 50px;
    background-color: red;
    color: white;
    font-size: 20px;
    cursor: pointer;
    float: left;
    border: 3px solid black; 
    border-radius: 27px; 
    margin: 6px;
  }
  
  iframe {
    vertical-align: middle;
    display: inline-block; 
    border-radius: 30px;
  }
  
  /*button {
    width: 500px;
    height: 50px;
    background-color: red;
    color: white;
    font-size: 20px;
    cursor: pointer;
   
    margin: 0px ;
  } 
  iframe{ iframe {
    top: 0;
    vertical-align: middle;
    display: inline-block;
  }
  }/*
  